.editMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.formContainerEdit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.editCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;

  width: 100%;
}
.editDates {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.fileinputedit {
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
}
.editDates > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.editDates > div > input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.editInput {
  border: none;
  outline: none;
  padding: 8px;
  width: 20rem;
  border-radius: 5px;
}
.editInput:hover {
  background-color: orange;
}
.loginplans {
  width: 21rem;
}
.editButton {
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  border: none;
  background: var(--planCard);
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 1rem;
  box-shadow: 4px 4px 6px #555555;
}
