.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginplans {
  background-color: orange;
  padding: 8px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
