.footer-contaioner {
  position: relative;
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/bf3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-contaioner > hr {
  border: 1px solid var(--lightgray);
}
.footer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: rgba(116, 116, 116, 0.795);
  padding: 2rem;
  width: 20rem;
}
.social-link > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.footer-blur {
  bottom: 0;
  right: 15%;
  width: 26rem;
  height: 12rem;
}
.footer-blur-2 {
  top: 10rem;
  left: 15%;
  width: 26rem;
  height: 12rem;
  background-color: red;
}
.logo-f {
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.logo-f > img {
  width: 20rem;
}
@media screen and (max-width: 768px) {
  .logo-f > img {
    width: 15rem;
  }
}
